.cardContenier{
    width: 60px;
    height: 60px;
    margin: 20px;
    cursor: pointer;
}

.done{
    border: 1px solid red;
}

.ViewFront{
    border: 1px solid rgb(0, 168, 0);
}

.noSelected{
    border: 1px solid rgb(0, 0, 0);
}