button{
    appearance: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: none;
    margin: 0em;
    padding: 0;
    border-width: none;
    border-style: none;
    border-color: none;
    border-image: none;
    color: none;
}